* {
  margin: 0;
  padding: 0;
  display: block;
}

body {
  background-color: black;
  font-family: "Lemonada", cursive;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  padding: 15px 0 5px 0;
  font-size: 20px;
  font-weight: 300;
}

.h2 {
  padding: 5px 20px;
  font-size: 37px;
  font-weight: 700;
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  color: transparent;
}

button {
  outline: none;
  background: none;
  border: none;
}

.cookie-img {
  width: 320px;
  height: 320px;
  cursor: pointer;
}

.rectangle {
  width: 500px;
  margin: 10px 0;
  background-color: #ffeedb;
  border-radius: 20px;
}

.para {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: black;
  font-size: 18px;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
}
